{% extends 'base.html.twig' %}

{% block title %}Modifier vos informations{% endblock %}

{% block body %}
    {% include "menu.html.twig" %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container-sm d-flex justify-content-center">
        <div class="col-6 ml-10">
            <br>
            <br>
            <br>
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="bloc">
                        <h1>Modifier vos informations</h1>
                    </div>

                </div>
                <div class="card-body">
                    {{ form_start(updateRegistration) }}
                    {{ form_row(updateRegistration.username, { label : 'Pseudo'}) }}
                    {{ form_row(updateRegistration.email, {label: 'Email' }) }}
                    {{ form_row(updateRegistration.first_name, { label: 'Prénom' }) }}
                    {{ form_row(updateRegistration.last_name, { label: 'Nom' }) }}
                    {{ form_row(updateRegistration.birthday, { label: 'Anniversaire' }) }}
                    {{ form_row(updateRegistration.gender, { label: 'Genre' }) }}
                    {{ form_row(updateRegistration.telephone, { label: 'Téléphone' }) }}
                    <div class="bloc d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary mt-3">Valider</button>
                    </div>

                    {{ form_end(updateRegistration) }}
                </div>
            </div>

            <br>
            <br>



        </div>
    </div>



{% endblock %}