{% extends 'base.html.twig' %}

{% block title %}
    Commentaires du post {{ post.id }}
{% endblock %}

{% block body %}
    {% include "menu.html.twig" %}

    <br>
    <br>
<div class="container-sm">
    <div class="container d-flex">
        <div class="container col-7">
            <h3>Commentaires du Post # {{ post.id }}</h3>

            <div class=" mb-3">
                <div class="card">
                    <div class="card-header">
                        {% include "avatar.html.twig" with { username: post.author} %}
                        #{{ post.id }} by <strong><a href="{{ path('userprofil', {user:post.author}) }}">{{ post.author }}</a></strong>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            {{ post.content }}
                        </div>
                        <div class="container d-flex justify-content-end">
                            <a href="{{ path('app_comment', {id:post.id}) }}">Voir les commentaires ({{ post.comment | length }})
                            </a>
                            {% if app.user.username == post.author %}
                                <a href="{{ path('formulaire-update', {id:post.id}) }}" class="btn btn-warning btn-sm fas fa-pen "></a>
                            {% endif %}
                            <a class="btn btn-danger btn-sm fas fa-heart ms-2"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container d-flex comment">
                <div class="col-1">
                </div>
                <div class="mb-3">
                    {% for comment in comments %}
                        <div class="card mb-3">
                            <div class="card-header">
                                {{ comment.id }}

                                {% include "avatar.html.twig" with { username: comment.author} %}
                                #{{ comment.id }} by <strong><a href="{{ path('userprofil', {user:comment.author}) }}">{{ comment.author }}</a></strong>
                            </div>
                            <div class="card-body">
                                <div class="card-text mb-2">
                                    {{ comment.content }}
                                </div>
                                <div class="container d-flex justify-content-end">
                                    {# VERIFIER QUE TOUT SOIT BON EN DESSOUS #}
                                    <a href="{{ path('app_comment', {id:comment.id}) }}">Voir les commentaires ({{ comment.comment | length }})</a>
                                    {% if app.user.username == post.author %}
                                        <a href="{{ path('formulaire-update', {id:post.id}) }}" class="btn btn-warning btn-sm fas fa-pen "></a>
                                    {% endif %}
                                    <a class="btn btn-danger btn-sm fas fa-heart ms-2"></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container col-5">
            <div class="card>
                <div class="card-header">
                    <h3>Post ton commentaire !</h3>
                </div>
                <div class="card-header">
                    {{ form(formComment) }}
                </div>
            </div>
        </div>
    </div>


</div>




{% endblock %}