{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
{#    <div>hello</div>#}

{#    <div>{{ getFollowers }}</div>#}

{#    {% for followers in getFollowers %}#}
{#    <div>{{ followers.username }}</div>#}
{#    {% endfor %}#}

{#{% endblock %}#}