{% extends "base.html.twig" %}

{% block title %}
    Nouveau Post
{% endblock %}

{% block body %}
    {% include "menu.html.twig" %}

    <div class="container-sm col-5">
        <br>
        <br>

        <div class="card">
            <div class="card-header">
                <h1>Post ton message !</h1>
            </div>
            <div class="card-header">
                {{ form(postForm) }}
            </div>
        </div>

    </div>


{% endblock %}