<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Post'It</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between align-items-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
{#                <a class="nav-link" href="{{ path('post') }}">Flux</a>#}
                <a class="nav-link" href="{{ path('formulaire') }}">Nouveau post</a>
                <a class="nav-link" href="{{ path('app_about') }}">About Us</a>
            </div>
            <div class="navbar-nav">
                {% if app.user %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('userprofil', {user:app.user.username}) }}">Mon profil</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_update_registration') }}">Modifier vos informations</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item fas fa-sign-out-alt" href="{{ path('app_logout') }}"> Se déconnecter</a></li>
                        </ul>
                    </li>

                    <div class="profilImage d-flex align-items-center">
                        {% include "avatar.html.twig" with { username: app.user.username} %}
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
</nav>