{% extends "base.html.twig" %}

{% block title %}
    Profil utilisateur
{% endblock %}

{% block body %}
    {% include "menu.html.twig" %}

    <div class="container-sm">
        <br>
        <br>

        {% if app.user.username == user %}

            <h2>Mon profil</h2>
            <br>
            <h4>Tous mes post</h4>
        {% else %}
            <div class="d-flex">
                <h2>Profil de {{ user }}</h2>
            </div>
        {% endif %}



        <br>
        <br>


        <div class="container-sm d-flex">
            <ul class="list-group list-unstyled col-6">

                {% for post in parents %}
                        <li class="mb-3">
                            <div class="card">
                                <div class="card-header">
                                    {% include "avatar.html.twig" with { username: post.author} %}
                                    #{{ post.id }} by <strong><a href="{{ path('userprofil', {user:post.author}) }}">{{ post.author }}</a></strong>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        {{ post.content }}
                                    </p>
                                </div>
                            </div>
                        </li>
                {% endfor %}
            </ul>
            <div class="colVide col-1"></div>
            <div class="nbrPost col-2">
                {% if app.user.username == user %}
                {% else %}
                    <div class="d-flex align-items-center mb-3">
                        <div>
                            {% if getFollowers.contains(app.user) %}
                                <a class="btn-sm btn-danger fas fa-minus-square" href="{{ path('app_follow', {id:user.id, user:user}) }}"></a>
                            {% else %}
                                <a class="btn-sm btn-primary fas fa-plus-square d-flex align-items-center" href="{{ path('app_follow', {id:user.id, user:user}) }}"></a>
                            {% endif %}
                        </div>
                        <div>
                            {% if getFriends.contains(app.user) %}
                                {% if app.user.username == user %}
                                    <a class="btn-sm btn-success ms-3" href="{{ path('app_friends', {id: user.id, user:user}) }}">Accepter demande d'ami</a>
                                {% else %}
                                    <a class="btn-sm btn-warning ms-3" href="{{ path('app_friends', {id: user.id, user:user}) }}">Demande envoyée</a>
                                {% endif %}
                            {% else %}
                                <a class="fas fa-user-plus btn-sm btn-warning ms-3" href="{{ path('app_friends', {id: user.id, user:user}) }}"></a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if app.user.username == user %}
                    {% for friends in getFriends %}
                        <div class="d-flex">
                            <a class="btn btn-warning" href="{{ path('app_friends', {id: user.id, user:friends.username}) }}">Accepter la demande de</a>
                            <li class="text-primary list-unstyled">{{ friends.username }}</li>
                        </div>
                    {% endfor %}
                {% endif %}


                {% for friends in peopleIaccept %}
                    <li class="text-danger">{{ friends.username }}</li>
                {% endfor %}
                <div class="accordion accordion-flush card" id="accordionFlushExample">
                    <div class="accordion-item-header">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed accordion-button-primary text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Followers | {{ getFollowers | length }}
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    {% for followers in getFollowers %}
                                        <li>{{ followers.username }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="accordion accordion-flush card" id="accordionFlushExample">
                    <div class="accordion-item-header">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed accordion-button-primary text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne">
                                People I follow | {{ peopleIFollow | length }}
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    {% for followers in peopleIFollow %}
                                        <li>{{ followers.username }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <h5 class="card-header">Amis</h5>
                    <div class="card-body">6</div>
                </div>
                <br>
                <div class="card">
                    <h5 class="card-header">Nombre de posts</h5>
                    <div class="card-body">{{ parents | length }}</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
